{% extends 'base.html.twig' %}

{% block title %}New PersonLocation{% endblock %}

{% block body %}
    <h1>Create new PersonLocation</h1>

    {{ include('person_location/_form.html.twig') }}

    <a href="{{ path('person_location_index') }}">back to list</a>
{% endblock %}
